In [1]:
import datetime as dt
from datetime import datetime
import pandas as pd
import matplotlib as mayplotlib
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import glob
import os

In [2]:
#read csv files of Chicago's weather in 2021
CW2101 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2101.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2102 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2102.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2103 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2103.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2104 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2104.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2105 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2105.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2106 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2106.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2107 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2107.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2108 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2108.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2109 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2109.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2110 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2110.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2111 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2111.csv', usecols=['Date','Average','Precipitation','New Snow'])
CW2112 = pd.read_csv('/Users/asamitakeuchi/Bike/Chicago_weather_2112.csv', usecols=['Date','Average','Precipitation','New Snow'])

In [3]:
cw2021_files = [CW2101,CW2102,CW2103,CW2104,CW2105,CW2106,CW2107,CW2108,CW2109,CW2110,CW2111,CW2112]
cw2021 = pd.concat(cw2021_files)
cw2021.head()

     Date  Average Precipitation New Snow
0  1/1/21     27.0          0.38      1.3
1  1/2/21     31.5             T        0
2  1/3/21     29.5          0.03      0.4
3  1/4/21     27.0             T        T
4  1/5/21     33.0             0        0

In [4]:
cw2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 30
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           365 non-null    object
 1   Average        365 non-null    float64
 2   Precipitation  365 non-null    object
 3   New Snow       365 non-null    object
dtypes: float64(1), object(3)
memory usage: 14.3+ KB

In [5]:
cw2021.isnull().sum()

Date             0
Average          0
Precipitation    0
New Snow         0
dtype: int64

In [6]:
cw2021['Precipitation'].unique()

array(['0.38', 'T', '0.03', '0', '0.02', '0.14', '0.01', '0.07', '0.05',
       '0.48', '0.36', '0.29', '0.31', '0.08', '0.12', '0.19', '0.04',
       '0.32', '0.16', '0.23', '0.37', '0.06', '0.24', '0.18', '0.26',
       '0.1', '0.74', '0.5', '1.5', '0.21', '1.85', '0.46', '1.31',
       '0.63', '0.17', '0.11', '0.09', '1.12', '0.64', '0.6', '1.91',
       '0.39', '0.28', '0.45', '0.4', '0.66', '0.75', '0.35', '0.76',
       '0.44', '0.53', '0.13', '0.84'], dtype=object)

In [7]:
#Change the dtype of Data column to datetime
cw2021['Date'] = pd.to_datetime(cw2021['Date']).dt.date

In [8]:
cw2021['Date'].head()

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
Name: Date, dtype: object

In [12]:
#change the dtype of 'precipitation' and 'New Snow'
#Both contain the value 'T', which means there were no rain/snow. 
#Replaing 'T' with 0
cw2021['Precipitation'] = cw2021['Precipitation'].replace('T', 0)
cw2021['New Snow'] = cw2021['New Snow'].replace('T', 0)

#change the datatype of the two to numeric value
cw2021['Precipitation'] = pd.to_numeric(cw2021['Precipitation'])
cw2021['New Snow'] = pd.to_numeric(cw2021['New Snow'])

print('The data type of Precipitation is:', cw2021['Precipitation'].dtype)
print('The data type of New Snow is:', cw2021['New Snow'].dtype)
cw2021.head()

The data type of Precipitation is: int64
The data type of New Snow is: int64

         Date  Average  Precipitation  New Snow
0  2021-01-01     27.0              1         1
1  2021-01-02     31.5              0         0
2  2021-01-03     29.5              1         1
3  2021-01-04     27.0              0         0
4  2021-01-05     33.0              0         0

In [13]:
#Change Precipitation and New Snow to 0 and 1
cw2021['Precipitation'] = cw2021['Precipitation'].apply(lambda x: 0 if x == 0 else 1)
cw2021['New Snow'] = cw2021['New Snow'].apply(lambda x: 0 if x == 0 else 1)

In [14]:
cw2021.head()

         Date  Average  Precipitation  New Snow
0  2021-01-01     27.0              1         1
1  2021-01-02     31.5              0         0
2  2021-01-03     29.5              1         1
3  2021-01-04     27.0              0         0
4  2021-01-05     33.0              0         0

In [16]:
#check data
cw2021.groupby('Precipitation').size()

Precipitation
0    247
1    118
dtype: int64

In [17]:
cw2021.groupby('New Snow').size()

New Snow
0    337
1     28
dtype: int64

In [18]:
cw2021.to_csv('Chicago_weather_2021.csv'
             , header=True
             , index=False
             , chunksize=500
             , encoding='utf-8')